.navbar-brand img {
    width: 90px;
    margin-left: 20px;
}
.navbar-brand h2 {
    margin-top: -20px;
}
.first-container {
    height: 500px;
    margin-top: 200px;
}
.left-container {
    width: 50%;
    float: left;
}
.left-container img {
    display: block;
    margin: 0 auto;
    padding-left: 20px;
}
.right-container {
    width: 50%;
    float: right;
    margin-top: 60px;
    padding-right: 80px;
}
.left-container2 {
    width: 50%;
    float: left;
    padding-left: 80px;
    padding-right: 20px;
    margin-top: 60px;
}
.right-container2 {
    width: 50%;
    float: right;
}
.map-container {
    margin-top: 150px;
}
.map-container img {
    display: block;
    margin: 0 auto;
}
.map-container p {
    padding-left: 60px;
    padding-right: 60px;
}
.map-container h3 {
    text-align: center;
}
.map-left {
    width: 50%;
    float: left;
}
.map-right {
    width: 50%;
    float: right;
}
.printable-container {
    margin-top: 140px;
}
.printable-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.printable-container img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.print-row {
    width: 33.33%;
    float: left;
    position: relative;
}
.print-row img {
    display: block;
    margin: 0 auto;
}
.print-row img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}
.print-row:hover .img__description {
    visibility: visible;
    opacity: 1;
}
@media print {
    .noprint {
        display: none;
    }
}
.contact-container {
    background-image: url('images/prints.png');
    height: 600px;
    margin-top: 180px;
    /*background-repeat: no-repeat;*/
    /*width: 100%;*/
}
.contact-container h2 {
    margin-left: 340px;
    color: #4DC0C5;
}
.contact-container p {
    margin-left: 340px;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 50%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    display: block;
    margin: 20px auto;
}
#subject {
    display: block;
    margin: 20px auto;
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    width: 50%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}
.facts-container {
    margin-top: 150px;
}
.fact-list h2 {
    text-align: center;
    color: #45a049;
}
.fact-list p {
  text-align: center;
  margin-top: 50px;
}
.fact-list ul {
  margin-left: 350px;
  display: inline-block;
  text-align: left;
  padding-top: 40px;
}

.diet-container {
  height: 400px;
  margin-top: 170px;
}

.diet-left-container {
  width: 50%;
  float: left;
}

.diet-left-container img {
  display: block;
  margin: 0 auto;
  padding-left: 60px;
}

.diet-right-container {
  width: 50%;
  float: right;
}

.diet-right-container p {
  padding-right: 120px;
}

.video-container {
  margin-top: 140px;
}

iframe {
  display: block;
  margin: 20px auto;
}



footer {
    clear: both;
    text-align: center;
    margin-top: 60px;
    height: 40px;
}
footer p {
    padding-top: 30px;
}
